{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}

	
		
{% if user.is_authenticated %}		
  {% for record in records %}
    {% if record.student_id == user.username %}
        <h2>Welcome {{ record.first_name }} {{ record.last_name }}</h2>

        
    {% endif %}
  {% endfor %}
  {% if user.is_staff %}
          <div class="container">
              <div class="row">
                  <div class="d-grid gap-2 col-4 mx-auto">
                  <a href="{% url 'register' %}" class="btn btn-primary" type="button"> Add Student </a>
                  </div>
            </div>
          </div>
          <br /><br />
          <h3>Student Records</h3>
          <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr class="table-secondary">
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Year Level</th>
                <th scope="col">Gender</th>
                <th scope="col">Birthday</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col" colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% if records %}
                  {% for record in records %}
                    <tr>
                      <td scope="row">
                          {{record.student_id}}
                      </td>
                      <td>{{record.first_name}} {{record.last_name}}</td>
                      <td>{{record.year_level}}</td>
                      <td>{{record.gender}}</td>
                      <td>{{record.birthday}}</td>
                      <td>{{record.address}}, {{record.city}}</td>
                      <td>{{record.email}}</td>
                      <td>{{record.phone}}</td>
                      <td><a class="bi bi-pencil-square text-primary"  href="{% url 'update_student' record.student_id %}"> </a></td>
                      <td><a class="bi bi-trash3 text-danger"></a></td>
                    </tr>
                  {% endfor %}
              {% endif %}
              
            </tbody>
          </table>
        {% else %}
          
          <div class="container">
            <div class="row">
                <div class="d-grid gap-2 col-4 mx-auto">
                  <a href="{% url 'students' user.username %}" class="btn btn-primary" type="button"> View Profile</a>
                </div>
                <div class="d-grid gap-2 col-4 mx-auto">
                  <a href="{% url 'update_student' user.username %}" class="btn btn-success" type="button"> Edit Profile</a>
                </div>
            </div>
        </div>
        {% endif %}
 
    

	

{% else %}

	<div class="col-md-6 offset-md-3">
		<h1>Login</h1>

		<form method="POST" action="{% url 'acs' %}">
		{% csrf_token%}


			  <div class="mb-3">
			   
			    <input type="text" class="form-control" name="username" placeholder="Username" required>
			  </div>
			  <div class="mb-3">
			    
			    <input type="password" class="form-control" name="password" placeholder="Password" required>
			  </div>
			  
			  <button type="submit" class="btn btn-secondary">Login</button>
			
		</form>
	</div>
	
{% endif %}



{% endblock %}