{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-primary" type="button">Add Student</button>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-success" type="button">Edit Student</button>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-danger" type="button">Delete Student</button>
        </div>
  </div>
</div>
  <br />
  <br />
    

{% endblock %}