{% load static %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Welcome to the heart of technological innovation at Gingoog City Colleges, Inc (GCC). The IT Department is a dynamic hub where cutting-edge ideas meet practical solutions, paving the way for the future of information technology.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3 class="text-center">Our Mission and Our Vision for the Future</h3>
          <img src="{% static 'img/banner-it.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
          <p><strong>Mission:</strong> the GCC IT Department, we are committed to fostering a learning environment that nurtures curiosity, creativity, and critical thinking. Our mission is to empower students with the skills and knowledge needed to thrive in the ever-evolving digital landscape.</p>
          <p><strong>Vision:</strong> As we look ahead, our vision is to produce well-rounded IT professionals who not only excel in their technical abilities but also possess the adaptability and problem-solving skills required in a fast-paced industry. We aim to be a cornerstone in the journey of every student who aspires to make a mark in the world of IT.</p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <h5 class="fst-italic">
              What Sets Us Apart
            </h5>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <strong>Experienced Faculty:</strong> Our team of dedicated instructors, led by <strong>Arl Kheem Rey Galario</strong>, brings a wealth of industry experience and academic expertise to the classroom. We believe in a hands-on, collaborative approach to learning.</li>
              <li><i class="bi bi-check-circle-fill"></i> <strong>Innovative Curriculum:</strong> Our curriculum is designed to align with industry trends and demands, ensuring that students graduate with not just theoretical knowledge but also practical skills that are immediately applicable in the real world.</li>
              <li><i class="bi bi-check-circle-fill"></i> <strong>State-of-the-Art Facilities:</strong> Gingoog City Colleges, Inc. invests in top-notch facilities, providing students with access to the latest hardware, software, and development tools. Our labs are equipped to simulate real-world IT scenarios.</li>
            </ul>
            <h5 class="fst-italic">
              Areas of Expertise:
            </h5>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <strong>Programming and Web Development: </strong> Our program places a strong emphasis on cultivating programming skills and expertise in web development.</li>
              <li><i class="bi bi-check-circle-fill"></i> <strong>Hardware and Networking: </strong> From troubleshooting hardware issues to designing and implementing network solutions, students develop the skills needed to ensure the smooth functioning of IT infrastructure.</li>
              <li><i class="bi bi-check-circle-fill"></i> <strong>Integration and Practical Application: </strong>Our curriculum places a significant emphasis on integration, teaching students to seamlessly merge diverse technologies and tools for cohesive solutions.</li>
              <li><i class="bi bi-check-circle-fill"></i> <strong>Project-Based Learning: </strong> Our educational approach centers around project-based learning, immersing students in hands-on projects that replicate the challenges of the IT industry.</li>
            </ul>
            

            
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->