{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5 justify-content-center text-center" data-aos="fade-in">
        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
            <h2>Bachelor of Science in <span>Information Technology</span></h2>
            <p>Explore the dynamic world of Information Technology (IT) where cutting-edge solutions meet real-world challenges.</p>
            <div class="d-flex justify-content-center justify-content-lg-start">
                <a href="#about" class="btn-get-started">Get Started</a>
                <a href="https://youtu.be/EVkLI-W6HpA" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 mx-0">
            <img src="{% static 'img/favicon.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100" width="50%">
            <img src="{% static 'img/GCC.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100" width="50%">
        </div>
    </div>
</div>


    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Student Account System</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Profile</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Contact Us</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Facebook Group</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    {% include 'about.html'%}

    <!-- clients Section here -->

    <!-- Stats counter section here -->

    <!-- Call to action section here -->

    <!-- Services section here -->

    <!-- Testimonials Section here -->

    {% include 'officers.html' %}

    {% include 'instructors.html' %}

    <!-- Pricing section here -->

    <!-- Frequently Asked Questions Here -->
    {% include 'faq.html' %}
    <!-- Blog post section here -->

    {% include 'contact.html' %}

  </main><!-- End #main -->

  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>



{% endblock %}
