<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/x-icon">
    <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">

    <title>Resume</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color: #c5f1e5;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">My Profile</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">PROJECT</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Hi! I'm
            <span class="text-primary">Arl</span>
          </h1>
          <div class="subheading mb-5">P-5, Brgy. 24-A · Gingoog City, Misamis Oriental, Philippines · (+63) 9954180632 ·
            <a href="mailto:arlkh33m@email.com">arlkh33m@email.com</a>
          </div>
          <p class="mb-5">Welcome to my digital corner! I'm <strong class="text-primary bold">Arl Kheem Rey Galario </strong>, a seasoned IT professional with a knack for turning lines of code into innovative solutions. With nearly a decade of experience as an IT college instructor and department head, coupled with hands-on experience in digital marketing and full-stack development, I bring a wealth of expertise to every project. <br/><br/>

            My journey in the world of technology has been driven by a passion for problem-solving and a relentless curiosity to explore new possibilities. From mastering Java and Python to diving deep into database management with MySQL, I thrive on the dynamic challenges of the digital landscape. <br/><br/>
            
            Whether it's crafting intricate algorithms or streamlining workflows through automation, I believe in the power of technology to transform ideas into reality. With a commitment to continuous learning and a dedication to delivering excellence, I'm here to collaborate with you in bringing your digital visions to life. <br/><br/>
            
            Let's connect and embark on an exciting journey of innovation together!</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/vaudevelle" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/arl-galario/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/artimre098" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Junior Full-Stack Developer</h3>
              <div class="subheading mb-3">ASG Technologies | Remote | California, United States</div>
              <p> I had the opportunity to immerse myself in the world
                of web development and gain hands-on experience in creating cutting-edge
                applications. One of the highlights of my internship was the development of a Spike
                Clone, a web application built using the MERN (MongoDB, Express.js, React, Node.js)
                stack. This project allowed me to hone my skills in full-stack development, from
                designing a responsive user interface to implementing robust backend functionality.
                </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">----- April 2023 - July 2023</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Digital Marketing Specialist</h3>
              <div class="subheading mb-3">Outsourced Doers | Remore | Davao City, Philippines</div>
              <p>As a Virtual Assistant at OutsourcedDoer, I provided comprehensive administrative
                support, managed emails, and calendars, and conducted research. I assisted with
                document creation, scheduling appointments, and making travel arrangements. With
                excellent organizational skills and attention to detail, I consistently delivered high quality work, meeting tight deadlines while maintaining confidentiality. My dedication
                enhanced productivity and streamlined processes for clients at OutsourcedDoer.
                </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">----- April 2023 - June 2023</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Program Head, Adviser, Instructor II</h3>
              <div class="subheading mb-3">BSIT Department | Gingoog City Colleges, Inc.</div>
              <p>With over 9 years of experience, I have developed various BSIT curricula, designed
                training programs for the students and instructor, and designed the modules and
                syllabus of every subject in the BSIT Department. Basically, I have ample experience in
                the management of a department. While doing these things I also teach major
                subjects to students, like programming, databases, web design, capstone projects,
                and research</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">----- June 2015 - December 2023</span>
            </div>
          </div>

          <!-- <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Design Intern</h3>
              <div class="subheading mb-3">Shout! Media Productions</div>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2008 - June 2010</span>
            </div>
          </div> -->

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Xavier University - Ateneo de Cagayan</h3>
              <div class="subheading mb-3">Masters of Information Technology</div>
              <div>Computer Science - Web Development and Research</div>
              <p>Units Earned: 21</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2019 - December 2021</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Gingoog City Colleges, Inc.</h3>
              <div class="subheading mb-3">Bachelor of Science in Information Technology</div>
              <div>Web Development and Programming</div>
              <!-- <p>GPA: 3.56</p> -->
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">November 2010 - March 2015</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-react-original-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-arduino-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-azuresqldatabase-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-canva-original"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-django-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-nodejs-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-python-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-java-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-google-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-mongodb-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-photoshop-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-illustrator-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-github-original-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-git-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-mysql-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicon-postgresql-plain-wordmark"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
               Agile Methodologies</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Project Management Tools (Jira, Trello) </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Version Control Systems (Git)</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Collaboration Platforms (Slack, Microsoft Teams, Discord)</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Documentation Practices</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Besides coding, I love diving into online games with friends, getting lost in the epic stories of anime, and hitting the road on my motorcycle for long rides. Cooking is another passion of mine; there's something special about creating delicious meals from scratch and sharing them with loved ones.</p>
          <p class="mb-0">When forced indoors, you'll often find me exploring the latest programming and web technologies, always eager to stay ahead of the curve and learn something new.</p>
        </div>
      </section>

      <!-- <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Google Analytics Certified Developer</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Mobile Web Specialist - Google Certification</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              2<sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              3<sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005</li>
          </ul>
        </div>
      </section> -->

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/resume.min.js' %}"></script>

  </body>

</html>
