{% load static %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Department Officers</h2>
        <p>Introducing our student officers of IT Department—a passionate and driven team of peers dedicated to enhancing the student experience and fostering a collaborative learning environment within the realm of information technology.</p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        <div>
          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-Ec">Executive Committee</li>
            <li data-filter=".filter-Rep">Representatives</li>
            <li data-filter=".filter-Treasurer">Treasurers</li>
            <li data-filter=".filter-HR">Honorary Roles</li>
          </ul><!-- End Portfolio Filters -->
        </div>

        <div class="row gy-4 portfolio-container ">

          <div class="col-xl-2 col-md-6 portfolio-item filter-Ec">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/jaime.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/jaime.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                
                <h4><a href="portfolio-details.html" title="More Details">Jaime Torayno </a></h4>
                <p>President</p>
                <br /><br />
              </div>
            </div>
          </div><!-- End Portfolio Item filter-app-->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Ec">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/karl.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/karl.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Karl Kenneth Juliano</a></h4>
                <p>Vice-President</p>
              </div>
            </div>
          </div><!-- End Portfolio Item filter-product-->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Ec">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/villareal.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/villareal.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Queen Mary Villareal</a></h4>
                <p>Secretary</p>
              </div>
            </div>
          </div><!-- End Portfolio Item filter-branding-->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Ec">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/pabrigar.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/pabrigar.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Ivy Jane Pabrigar</a></h4>
                <p>Department Treasurer</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item filter-books-->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Ec">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/lee.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/lee.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Seong Su Lee</a></h4>
                <p>Auditor</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Rep">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/amie.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/amie.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Amie Rementizo</a></h4>
                <p>4th Year Representative</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Rep">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/pabatao.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/pabatao.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Nichelle Pabatao</a></h4>
                <p>3rd Year Representative</p>
                <br /><br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Rep">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/mediante.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/mediante.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Queen Anne Mediante</a></h4>
                <p>2nd Year - A Representative</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Rep">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/acao.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/acao.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Shane Acao</a></h4>
                <p>2nd Year - B Representative</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Rep">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/rosil.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/rosil.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Trisha Shane Angela Rosil</a></h4>
                <p>1st Year - A Representative</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Rep">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/obedencio.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/obedencio.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Stephanie Marie Obedencio</a></h4>
                <p>1st Year - B Representative</p><br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Treasurer">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/borromeo.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/borromeo.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Quenny Lynn Borromeo</a></h4>
                <p>4th Year Treasurer</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Treasurer">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/jaso.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/jaso.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Ian Kenneth Jaso</a></h4>
                <p>3rd Year Treasurer</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Treasurer">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/celjie.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/celjie.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Celjie Magbunag</a></h4>
                <p>2nd Year - A Treasurer</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Treasurer">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/jaira.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/jaira.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Jairah Jave Gallegos</a></h4>
                <p>2nd Year - B Treasurer</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Treasurer">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/quitat.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/quitat.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Vladymir Quitat</a></h4>
                <p>1st Year - A Treasurer</p>
                <br />
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-Treasurer">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/sanchez.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/sanchez.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Justin Al Sanchez</a></h4>
                <p>1st Year - B Treasurer</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-HR">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/brian.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/brian.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Brian Acera</a></h4>
                <p>Executive Assistant</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-HR">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/sesaldo.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/sesaldo.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Joseph Sesaldo</a></h4>
                <p>Executive Assistant</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-HR">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/quevedo.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/quevedo.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Alexa Quevedo</a></h4>
                <p>Department Muse</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-2 col-md-6 portfolio-item filter-HR">
            <div class="portfolio-wrap">
              <a href="{% static 'img/portfolio/tristan.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/tristan.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Tristan Jan Enriquez</a></h4>
                <p>Prince Charming</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section><!-- End Portfolio Section -->